@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Dear Hafeeza .. this is for you...</h1>
    <p>I Know, i am not very good at expressing my love to you... this is my first try hope you would love it....</p>
    <img src="~/Content/img/Heart.png" />
</div>
